<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="dynamics_management.menu_dynamics_root"
              name="Dynamics"
              sequence="11"/>

    <!-- Rides Dropdown Menu -->
    <menuitem id="dynamics_management.menu_dynamics_rides"
              name="Rides"
              parent="dynamics_management.menu_dynamics_root"
              sequence="10"/>

    <!-- Rides List (Tree/Form View) with Auto Sync -->
    <menuitem id="dynamics_management.menu_dynamics_ride_list"
              name="Rides List"
              parent="dynamics_management.menu_dynamics_rides"
              action="dynamics_management.action_dynamics_ride"
              sequence="10"/>

    <!-- Rides Map -->
    <menuitem id="dynamics_management.menu_dynamics_ride_map"
              name="Rides Map"
              parent="dynamics_management.menu_dynamics_rides"
              action="dynamics_management.action_ride_map"
              sequence="20"/>

    <!-- Synchronize Rides -->
    <menuitem id="dynamics_management.menu_sync_rides"
              name="Synchronize Rides"
              parent="dynamics_management.menu_dynamics_root"
              action="dynamics_management.action_sync_rides"
              sequence="30"/>
</odoo>